<div data-ng-controller="TodosController"  data-ng-init="find()">
  <h1>List of TODOs</h1>
  <li data-ng-repeat="todo in todos">
    {{todo.text}} <input type="checkbox" ng-click="remove(todo)"> <br/>
  </li>
  </br>

   <div>
       <form  name="todoForm" data-ng-submit="create(todoForm.$valid)">
           <div class="form-group">

               <input type="text" class="form-control text-center" placeholder="Code all night..." ng-model="text">
           </div>

           <button type="submit" class="btn btn-primary">Add</button>
       </form>
   </div>


</div>